.center-body {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.img-size {
  width: 47px;
}

.post-img-size {
  width: 32px;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}
